body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0;
}

ol, ul {
    padding-left: 30px;
}

/* .board-row:after {
    clear: both;
    content: "";
    display: table;
} */

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
/* 
.game-modal{
    position: absolute;
    height: 100vh;
    width: 100vw;
 
    background-color: #99999999;
    margin: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

    .game-modal > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .game-modal__hello{
        
    }

    .game-modal__payload{
        background-color: teal;
    } */

    .game-board>div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }